<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" *ngIf="task">
        <a routerLink="/main" class="btn btn-sm btn-secondary mb-3 back"
          >Back</a
        >
        <h3 class="card-header">{{ task.naziv }}</h3>

        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Ime: {{ task.naziv }}</li>
            <li class="list-group-item">Hitan: {{ task.hitan }}</li>
            <li class="list-group-item">Uradjen: {{ task.uradjen }}</li>
            <li class="list-group-item">Uradjen: {{ task.datum }}</li>
            <li class="list-group-item">Kategorija: {{ task.category }}</li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            <a routerLink="/task/edit/{{ task.id }}" class="btn btn-info"
              >Edit</a
            >
            <button class="btn btn-danger" (click)="deleteTask()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
