<div class="container my-5" id="elem">
    <div class="row">
  
        <input   [(ngModel)]="searchText" type="text" class=" search form-control border border-primary my-5" placeholder="serach">
        <hr>
        <hr>

        <button class="btn btn-warning" type="button" (click)="sortIme()">Sortiraj po Imenu</button>
         <button class="btn btn-warning" type="button" (click)="sortPozicija()">Sortiraj po Kategoriji</button>
        <button class="btn btn-warning" type="button" (click)="sortHitnost()">Sortiraj po Hitnosti</button>
        <button class="btn btn-warning" type="button" (click)="sortDatum()">Sortiraj po Datumu</button>
            <hr>
            <hr>
            <div class="col-lg-4 cardy"
                *ngFor="let task of tasks  | filter : searchText | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalLength } ;let i = index">
                <div class="playerbox mt-3 mb-3">
                  
                    <h1 class="text-center">{{task.naziv}}</h1>
                    <p> Status: {{ task.uradjen}}</p>
                    <p>Hitnost: {{task.hitan}}</p>
                    <p>Datum :{{task.datum  | date:'dd.MM.yyyy.' }}</p>
                    <p>Categorija: {{task.category}}</p>
  
                    <p> <a class="btn btn-warning my-4" routerLink="task/{{task.id}}">Details</a></p>
                    <br />
  
                </div>
                <label for="nesto">Done</label>
                <!-- <input type="checkbox" id="nesto" name="vehicle1" value="Done"/> -->
             
                <input type="checkbox" [checked]="task.checked" (change)="task.checked = !task.checked" class="car">

  
            </div>
            <pagination-controls class="text-center pag my-5" (pageChange)="page = $event"></pagination-controls>
    </div>
   <!-- <button type="button" class="btn btn-danger" (click)="exportToCsv()">Export to CSV</button> -->
    <!-- <button type="button" class="btn btn-danger" (click)="exportToPdf()">Export to PDF</button> -->
    <!-- <button type="button" class="btn btn-danger" (click)="exportToPdf()">Export to PDF</button> -->
  </div>